input {
  display: block;
}

.filters input{
  display: inline;
}

.filters{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /*height: 150px;*/
}

.filters-item {
  display: flex;
  width: 270px;
  align-items: center;
  justify-content: space-evenly;
  margin: 5px;
}

.filters-item button {
  margin: 5px 0;
}

.create-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.create-item span {
  margin-right: 5px;
  width: 110px;
}
.create-item__radio {
  margin-bottom: 5px;
}
.create-item__radio span {
  width: 1;
}

.create-item__time {
  margin-bottom: 5px;
}

.create-item__title {
  display: inline-block;
  width: 113px;
}

.options button{
  margin: 5px;
}

tr {
  font-weight: 700;
}

@media (max-width: 600px) {
  .filter-btn__mobile {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
  }

  .filter-btn__mobile button {
    width: 100%;
  }
}
.filter-btn__mobile button{
  margin: 5px;
}

.options {
  margin: 5px;
}
