input {
  display: block;
}

.filters input{
  display: inline;
}

.filters{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 150px;
}

.filters-item {

}

.create-item {
  display: flex;
  align-items: center;
}

.create-item span {
  margin-right: 5px;
}
